@model employee_training_tool.Models.AssignedTask

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AssignedTask</h4>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CatalogTaskId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CatalogTaskId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.State)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.State)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TaskType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TaskType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedLearningPath)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AssignedLearningPathId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Back to Overview", "Index", "AssignedLearningPath", "", null)
</div>