@model employee_training_tool.Models.AssignedLearningPath

@{
    ViewData["Title"] = "Details";
}

<h1>@Model.Title</h1>

<div>
    <hr/>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Mentor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Mentor.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewComer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewComer.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <h4>Tasks:</h4>

        <table class="table">
            <thead>
            <tr>
                <th>
                    @Html.Label("Title")
                </th>
                <th>
                    @Html.Label("Description")
                </th>
                <th>
                    @Html.Label("Task type")
                </th>
                <th>
                    @Html.Label("Status")
                </th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Tasks)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.TaskType)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.State)
                    </td>
                    @if (User.IsInRole(ApplicationRole.Viewer))
                    {
                        <td>
                            @Html.ActionLink("Details", "Details", "AssignedTask", new {id = item.AssignedTaskId}, null)
                        </td>
                    }
                    else
                    {
                        <td>
                            @Html.ActionLink("Open", "Edit", "AssignedTask", new {id = item.AssignedTaskId}, null)
                        </td>
                    }
                </tr>
            }
            </tbody>
        </table>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to Overview</a>
</div>