@model IEnumerable<employee_training_tool.Models.AssignedLearningPath>

@{
    ViewData["Title"] = "Index";
}

<h1>My Learning Paths</h1>
@if (User.IsInRole(ApplicationRole.Mentor))
{
    <p>
        @Html.ActionLink("Assign new", "Create", "Enrollment", null, null)
    </p>
}

<table class="table">
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        @if (User.IsInRole(ApplicationRole.Newcomer))
        {
            <th>
                @Html.DisplayNameFor(model => model.Mentor)
            </th>
        }
        else
        {
            <th>
                @Html.DisplayNameFor(model => model.NewComer)
            </th>
        }
        <th>
            @Html.DisplayNameFor(model => model.Progress)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.Title, "Details", "AssignedLearningPath", new {id = item.AssignedLearningPathId}, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            @if (User.IsInRole(ApplicationRole.Newcomer))
            {
                <td>
                    @Html.DisplayFor(modelItem => item.Mentor.UserName)
                </td>
            }
            else
            {
                <td>
                    @Html.DisplayFor(modelItem => item.NewComer.UserName)
                </td>
            }
            <td>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width: @item.Progress%" aria-valuenow="@item.Progress" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </td>
            <td>
                @if (User.IsInRole(ApplicationRole.Mentor))
                {
                    @Html.ActionLink("Delete", "Delete", "Enrollment", new {id = item.EnrollmentId}, null)
                }
            </td>
        </tr>
    }
    </tbody>
</table>