@model IEnumerable<employee_training_tool.Models.Enrollment>

@{
    ViewData["Title"] = "Index";
}

<h1>Enrollments</h1>

@if (User.IsInRole(ApplicationRole.Admin))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}

<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LearningPath)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mentor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NewComer)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LearningPath.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Mentor.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewComer.UserName)
            </td>
            <td>
                @if (User.IsInRole(ApplicationRole.Admin))
                {
                    <a asp-action="Delete"asp-route-id="@item.EnrollmentId"> Delete </a>
                }
            </td>
        </tr>
    }
    </tbody>
</table>