@model employee_training_tool.Models.LearningPath

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Learning Path</h1>

<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LearningPathId"/>
            <input type="hidden" asp-for="AuthorId"/>

            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control"/>
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control"/>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <table class="table">
                <thead>
                <tr>
                    <th>
                        @Html.Label("Title")
                    </th>
                    <th>
                        @Html.Label("Type")
                    </th>
                    <th>
                        @Html.Label("Description")
                    </th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                @foreach (CatalogTask item in ViewBag.ListOfTasks)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Title)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TaskType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <input name="tasksToAdd" type="checkbox" value="@item.CatalogTaskId" checked="@item.IsSelected"/>
                        </td>
                        <td>
                            <a href="#" class="up"> ▲ </a>
                            <a href="#" class="down"> ▼ </a>
                        </td>
                    </tr>
                }
                </tbody>
            </table>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary"/>
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }

    <script type="text/javascript">
           $(document).ready(function(){
               $(".up,.down").click(function(){
                   const row = $(this).parents("tr:first");
                   if ($(this).is(".up")) {
                       row.insertBefore(row.prev());
                   } else {
                       row.insertAfter(row.next());
                   }
               });
           });
        </script>
}